body {
  width: 99%;
  height: 900px;
  background-color: #33a0ffd2;
}


@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}


.burgerName {
  width: 900px;
}